/*##################################
GENERAL STYLES
##################################*/
$line-color: #dedede;
$pri-font-color: #6b6b6b;

body {
    color: $pri-font-color;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-weight: 300;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visted, a:active, a:hover {
    color: $pri-font-color;
}

/*##################################
WRAPPER
##################################*/

.wrapper {
    border: 1px solid $line-color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

@media only screen and (max-width: 64em) {
    .wrapper {
        width: 100%;
        border: none;
        margin: 0;
    }
}

/*##################################
HEADER SECTION
##################################*/

header {
    margin-top: 1%;
    text-align: center;
}

header .logo {
    text-align:center;
}

header nav {
    margin-top: 2%;
    margin-bottom: 2%;
}

header nav ul {
    list-style: none;
    margin: 0.6rem 0 0.6rem 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 1%;
    font-size: 0.8rem;
    letter-spacing: 0.17rem;
}

header a, header a:visited, header a:hover {
    color: $pri-font-color;
}

header a.active {
    border-bottom: 1px solid $line-color;
    padding-bottom: 5px;
}

header .logo {
    margin-top: 3%;
    margin-bottom: 4%;
}

header hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: $line-color 1px solid;
  margin-top: -22px;
}


header nav ul span {
     padding: 0 20px;
     background: #fff;
 }

@media only screen and (max-width: 64em) { 
    header nav {
        display: none;
    }
}

@media only screen and (min-width: 64.063em) { 
    .menu-btn {
        display: none;
    }
}
/*##################################
SLIDER SECTION
##################################*/

.slider {
    margin-top: 3%;
}

.featured-gallery {
    margin-top: 3%;
}

/*##################################
WELCOME SECTION
##################################*/

.welcome {
    margin-top: 3%;
}

/*##################################
ABOUT PAGE
##################################*/

.about {
    margin-top: 6%;
    margin-bottom: 5%;
}

.about .profile {
    margin-bottom: 2%;
    text-align: center;
}

/*##################################
SERVICES PAGE
##################################*/

.services {
    margin-top: 6%;
    margin-bottom: 5%;
}

.pricing-table li.bullet-item {
    font-weight: 300;
}

/*##################################
PORTFOLIO PAGE
##################################*/

.portfolio {
    margin-top: 3%;
    margin-bottom: 5%;
}

.portfolio ul {
    text-align: center;
}

.portfolio ul li {
    font-size: 0.9rem;
}

.portfolio ul li a, .portfolio ul li a:visited, .portfolio ul li a:hover {
    color: $pri-font-color;
}

.portfolio ul li a span {
    padding-top: 10px;
}

/*##################################
CONTACT PAGE
##################################*/

.contact {
    margin-top: 6%;
    margin-bottom: 5%;
}

.contact p a {
    color: $pri-font-color;
}

.contact span p {
    line-height: 0.1;
}

.contact form {
    margin-top: 5%;
}

.contact input {
    border-radius: 5px;
}

.contact textarea {
    border-radius: 5px;
}

.contact input[type="submit"] {
    padding: 10px 15px;
    color: #f7f7f7;
    background-color: #292929;
}

.contact .button:hover {
    background-color: #870000;
}

/*##################################
TESTIMONIALS SECTION
##################################*/

.testimonials {
    margin-top: 6%;
    margin-bottom: 5%;
}

/*##################################
FOOTER SECTION
##################################*/

footer {
    margin-top: 4%;
    text-align: center;
}

footer i {
    padding: 1% 1%;
    margin-bottom: 3%;
    font-size: 2rem;
    color: #292929;
}

/*##################################
SLIDER SECTION
##################################*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/*##################################
MOBILE MENU
##################################*/

/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #333332;
    font-size: 0.9em;
    font-weight: normal;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.pushy a:hover{
    background: #BD1111;
    color: #FFF;
}

.pushy ul {
    list-style: none;
}

.menu-btn {
    height: 30px;
    width: 30px;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 9999;
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}